$font-family-base:
  "Inter",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  sans-serif;

$text-title: #1f1f27;
$input-text: #1f1f27;
$text-white: #ffffff;
$text-blue: #31a0f0;
$button-bg: #31a0f0;
$text-description: #81869a;
$text-error: #d23939;
$text-label: #81869a;

$border-default: #81869a;
$border-error: #d23939;
$border-confirm: #31a0f0;

$button-default: #31a0f0;
$button-color: #ffffff;
